DATABASE_URL="postgresql://postgres:postgres@localhost:5432/foodlify"
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=foodlify
JWT_SECRET="replace-me"
NODE_ENV="development"
ENABLE_DEV_AUTH_HEADER="false"
