DATABASE_URL="postgresql://postgres:postgres@localhost:5432/foodlify"
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=foodlify
JWT_SECRET="replace-me"
JWT_REFRESH_SECRET="replace-me-too"
SUPER_ADMIN_EMAIL="superadmin@example.com"
SUPER_ADMIN_PASSWORD="ChangeMe123!"
NODE_ENV="development"
ENABLE_DEV_AUTH_HEADER="false"
